/* You can add global styles to this file, and also import other style files */
.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card{
  position: absolute;
  transform-style: preserve-3d;
  max-width: 250px;
  height: 150px;
}

.card-front{
  position: relative;
  backface-visibility: hidden;
  background-color: red;
}
.card-back{
  position: relative;
  backface-visibility: hidden;
  transform: rotate3d(180);
}

.card:hover{
  transform: rotate3d(180);
}
