/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgba(239, 226, 217, 0.7)
}

.main-container {
  max-width: 1400px;
  margin: auto;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2.5rem;
}

.card {
  transform-style: preserve-3d;
  height: 400px;
  transition: all 0.5s ease;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: rgba(230, 205, 185, 0.5);
  color: rgb(130 109 94);
  border-radius: 15px;
  padding: 1rem;
  font-size: 1.2rem;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-front img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.card-data {
  margin-top: 1rem;
}

.card-data span {
  display: block;
  margin-top: 0.5rem;
}

.genres-container {
  margin-top: 0.8rem;
}

span.genre-chip {
  background-color: rgb(237, 188, 149);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  display: inline-block;
}

.card button {
  background-color: rgb(238, 198, 166);
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: rgb(130 109 94);
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.card button:hover {
  cursor: pointer;
  background-color: rgb(237, 188, 149);
}

.autocomplete {
  position: relative;
}

.autocomplete input{
  padding: 5px 10px;
  font-size: 1.2rem;
  width: 100%
}

.autocomplete-item-container {
  max-height: 150px;
  overflow: auto;
  position: absolute;
  top: 35px;
  z-index:100;
  background: aliceblue;
  width: 100%
}

.autocomplete-item {
  display: block;
  font-size: 1.2rem;
  padding: 5px;
}
.autocomplete-item:hover{
  cursor: pointer;
  background: white;
}

.search-bar-form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
